<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXJSql.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C1E05AC71E60180A006B2735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1E05AE31E60180A006B2735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1E05AEE1E60180A006B2735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
